.gallery-title {
  font-size: 1.8em;
  color: #389bbf;
  line-height: 1.5;
  margin-bottom: 10px;
}

.gallery-wrapper a {
  display: inline-block;
  margin-bottom: 10px;
}

.gallery-wrapper img {
  max-width: 100%;
  height: auto
}

@media screen and (min-width: 768px) {
  .gallery-wrapper a {
    width: 49%;
    margin-bottom: 15px;
    text-align: center;
  }
}
